.sidebar
    .quickmenu
        if development
            .quickmenu__cont
                .quickmenu__list
                    .quickmenu__item(class=page!='Sent' && page!='Inbox' && page!='Compose' ? 'active' : '')
                        .fa.fa-fw.fa-home
                    .quickmenu__item(class=page=='Sent' || page=='Inbox' || page=='Compose' ? 'active' : '')
                        .fa.fa-fw.fa-envelope-o
                    .quickmenu__item.new
                        .fa.fa-fw.fa-comments-o
                    .quickmenu__item
                        .fa.fa-fw.fa-feed
                    .quickmenu__item
                        .fa.fa-fw.fa-cog
    .scrollable.scrollbar-macosx
        .sidebar__cont
            .sidebar__menu
                .sidebar__title Menu
                ul.nav.nav-menu
                    li(class=area=='Welcome' ? 'active' : '')
                        a.addids(href="./")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-star
                            .nav-menu__text
                                span Welcome
                            .nav-menu__right
                                i.fa.fa-fw.fa-angle-right.arrow
                        ul.nav.nav-menu__second.collapse(class=area == 'Welcome' ? 'in' : '')
                            li(class=page=='Interoperability' ? 'active' : '')
                                a.addids(href='interoperability.html') Interoperability
                            li(class=page=='Commitment' ? 'active' : '')
                                a.addids(href='commitment.html') Commitment to SIF
                // TODO - Copy this to Topbar if necessary ?
                ul.nav.nav-menu
                    li(class=area=='Usecase' ? 'active opened' : '')
                        a(href="usecase.html")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-book
                            .nav-menu__text
                                span Use Cases
                            .nav-menu__right
                                i.fa.fa-fw.fa-angle-right.arrow
                        ul.nav.nav-menu__second.collapse(class=area == 'Usecase' ? 'in' : '')
                            include usecases
                          // OLD
                            li(class=page=='Basic Daily Attendance' ? 'active' : '')
                                a(href='usecase_basic_daily_attendance.html') Basic Daily Attendance
                            li(class=page=='Basic Financial Transactions' ? 'active' : '')
                                a(href='usecase_basic_financial_transactions.html') Basic Financial Transactions
                            li(class=page=='Enrollment' ? 'active' : '')
                                a(href='usecase_enrollment.html') Enrollment
                            li(class=page=='Gradebook' ? 'active' : '')
                                a(href='usecase_gradebook.html') Gradebook
                            li(class=page=='Naplan Registration' ? 'active' : '')
                                a(href='usecase_naplan_registration.html') Naplan Registration
                            li(class=page=='Timetable' ? 'active' : '')
                                a(href='usecase_timetable.html') Timetable
                ul.nav.nav-menu
                    li(class=area=='Tools' ? 'active opened' : '')
                        a(href="start.html")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-puzzle-piece
                            .nav-menu__text
                                span Developer Tools
                            .nav-menu__right
                                i.fa.fa-fw.fa-angle-right.arrow
                        ul.nav.nav-menu__second.collapse(class=area == 'Tools' ? 'in' : '')
                            li(class=page=='Account' ? 'active' : '')
                                a.addids(href='account.html') Databases
                            li(class=page=='Information' ? 'active' : '')
                                a.addids(href='dashboard.html') Information
                            li(class=page=='Javascript Client' ? 'active' : '')
                                a.addids(href='client.html') Javascript Client
                            li(class=page=='Recover Links' ? 'active' : '')
                                a.addids(href='recover.html') Recover
                ul.nav.nav-menu
                    li(class=area=='Developer Help' ? 'active opened' : '')
                        a(href="help.html")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-map-signs
                            .nav-menu__text
                                span Developer Help
                            .nav-menu__right
                                i.fa.fa-fw.fa-angle-right.arrow
                        ul.nav.nav-menu__second.collapse(class=area == 'Developer Help' ? 'in' : '')
                            li(class=page=='FAQ' ? 'active' : '')
                                a.addids(href='faq.html') FAQ                            
                            li(class=page=='Connect Java consumer' ? 'active' : '')
                                a.addids(href='connect_java_consumer.html') Connect Java consumer
                            // li(class=page=='Connect .NET consumer' ? 'active' : '')
                                a.addids(href='connect_net_consumer.html') Connect .NET consumer
                            li(class=page=='Connect generic consumer' ? 'active' : '')
                                a.addids(href='connect_generic_consumer.html') Connect generic consumer
                            li(class=page=='Validate your XML against SIF AU schema' ? 'active' : '')
                                a.addids(href='validate_XML_SIF.html') Validate your XML against SIF AU schema
                            li(class=page=='Using Query By Example' ? 'active' : '')
                                a.addids(href='query_by_example.html') Using Query By Example
                if area == "Admin"
                  ul.nav.nav-menu
                      // XXX This must be hidden unless logged in !
                      // XXX Which must be done in Javascript !
                      // CSS Loaded and selected by login ! (client side)
                      // Then hide this based on that?
                      li(class=area=='Admin' ? 'active opened' : '')
                          a(href="#")
                              .nav-menu__ico
                                  i.fa.fa-fw.fa-th-large
                              .nav-menu__text
                                  span Admin
                              .nav-menu__right
                                  i.fa.fa-fw.fa-angle-right.arrow
                          ul.nav.nav-menu__second.collapse(class=area == 'Admin' ? 'in' : '')
                              li(class=page=='Accounts' ? 'active' : '')
                                  a(href='admin.html') Accounts
                              li(class=page=='Contacts' ? 'active' : '')
                                  a(href='contacts.html') Contacts
                              li(class=page=='Login' ? 'active' : '')
                                  a(href='login.html') Login
                block sidebar
                if development
                    .sidebar__title Template
                    ul.nav.nav-menu
                        li(class=page=='General' || page == 'Panels' || page == 'Tabs' || page == 'Modals' || page == 'Buttons' ? 'active opened' : '')
                            a(href="#")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-th-large
                                .nav-menu__text
                                    span UI Elements
                                .nav-menu__right
                                    i.fa.fa-fw.fa-angle-right.arrow
                            ul.nav.nav-menu__second.collapse(class=page=='General' || page == 'Panels' || page == 'Tabs' || page == 'Modals' || page == 'Buttons' ? 'in' : '')
                                li(class=page=='General' ? 'active' : '')
                                    a(href='general.html') General
                                li(class=page=='Panels' ? 'active' : '')
                                    a(href='panels.html') Panels
                                li(class=page=='Tabs' ? 'active' : '')
                                    a(href='tabs.html') Tabs
                                li(class=page=='Modals' ? 'active' : '')
                                    a(href='modals.html') Modals
                                li(class=page=='Buttons' ? 'active' : '')
                                    a(href='buttons.html') Buttons
                        li(class=page=='Controls' || page == 'Validation' || page == 'Texteditor' ? 'active opened' : '')
                            a(href="#")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-clone
                                .nav-menu__text
                                    span Forms
                                .nav-menu__right
                                    i.fa.fa-fw.fa-angle-right.arrow
                            ul.nav.nav-menu__second.collapse(class=page=='Controls' || page == 'Validation' || page == 'Texteditor' ? 'in' : '')
                                li(class=page=='Controls' ? 'active' : '')
                                    a(href='controls.html') Controls
                                li(class=page=='Validation' ? 'active' : '')
                                    a(href='validation.html') Validation
                                li(class=page=='Texteditor' ? 'active' : '')
                                    a(href='texteditor.html') Text Editor
                        li(class=page=='Table Static' || page == 'Table Sortable' || page == 'DataTable' ? 'active opened' : '')
                            a(href="#")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-table
                                .nav-menu__text
                                    span Tables
                                .nav-menu__right
                                    i.fa.fa-fw.fa-angle-right.arrow
                            ul.nav.nav-menu__second.collapse(class=page=='Table Static' || page == 'Table Sortable' || page == 'DataTable' ? 'in' : '')
                                li(class=page=='Table Static' ? 'active' : '')
                                    a(href='table_static.html') Static
                                li(class=page=='Table Sortable' ? 'active' : '')
                                    a(href='table_sortable.html') Sortable
                                li(class=page=='DataTable' ? 'active' : '')
                                    a(href='table_data.html') DataTable
                        li(class=page=='Charts' ? 'active' : '')
                            a(href="charts.html")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-pie-chart
                                .nav-menu__text
                                    span Charts
