.sidebar
    .quickmenu
        if development
            .quickmenu__cont
                .quickmenu__list
                    .quickmenu__item(class=page!='Sent' && page!='Inbox' && page!='Compose' ? 'active' : '')
                        .fa.fa-fw.fa-home
                    .quickmenu__item(class=page=='Sent' || page=='Inbox' || page=='Compose' ? 'active' : '')
                        .fa.fa-fw.fa-envelope-o
                    .quickmenu__item.new
                        .fa.fa-fw.fa-comments-o
                    .quickmenu__item
                        .fa.fa-fw.fa-feed
                    .quickmenu__item
                        .fa.fa-fw.fa-cog
    .scrollable.scrollbar-macosx
        .sidebar__cont
            .sidebar__menu
                .sidebar__title HITS Pages
                ul.nav.nav-menu
                    li(class=page=='Dashboard' ? 'active' : '')
                        a(href="./")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-star
                            .nav-menu__text
                                span Dashboard
                // TODO - Copy this to Topbar if necessary ?
                ul.nav.nav-menu
                    li(class=area=='Usecase' ? 'active opened' : '')
                        a(href="#")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-th-large
                            .nav-menu__text
                                span Use Cases
                            .nav-menu__right
                                i.fa.fa-fw.fa-angle-right.arrow
                        ul.nav.nav-menu__second.collapse(class=area == 'Usecase' ? 'in' : '')
                            li
                                a(href='/usecases/basic_daily_attendance/technical.html') Basic Daily Attendance
                            li
                                a(href='/usecases/basic_financial_transactions/hits-dashboard.html') Basic Financial Transactions
                            li
                                a(href='/usecases/enrollment/hits-dashboard.html') Enrolment
                            li
                                a(href='/usecases/gradebook/hits-dashboard.html') Gradebook
                            li
                                a(href='/usecases/naplan_registration/hits-dashboard.html') NAPLAN Registration
                            li
                                a(href='/usecases/naplan_results_reporting/hits-dashboard.html') NAPLAN Results Reporting
                            li
                                a(href='/usecases/timetable/hits-dashboard.html') Timetable
                          // OLD
                            li(class=page=='Basic Daily Attendance' ? 'active' : '')
                                a(href='usecase_basic_daily_attendance.html') Basic Daily Attendance
                            li(class=page=='Basic Financial Transactions' ? 'active' : '')
                                a(href='usecase_basic_financial_transactions.html') Basic Financial Transactions
                            li(class=page=='Enrollment' ? 'active' : '')
                                a(href='usecase_enrollment.html') Enrollment
                            li(class=page=='Gradebook' ? 'active' : '')
                                a(href='usecase_gradebook.html') Gradebook
                            li(class=page=='Naplan Registration' ? 'active' : '')
                                a(href='usecase_naplan_registration.html') Naplan Registration
                            li(class=page=='Timetable' ? 'active' : '')
                                a(href='usecase_timetable.html') Timetable
                ul.nav.nav-menu
                    li(class=area=='Tools' ? 'active opened' : '')
                        a(href="#")
                            .nav-menu__ico
                                i.fa.fa-fw.fa-th-large
                            .nav-menu__text
                                span Developer Tools
                            .nav-menu__right
                                i.fa.fa-fw.fa-angle-right.arrow
                        ul.nav.nav-menu__second.collapse(class=area == 'Tools' ? 'in' : '')
                            li(class=page=='Account' ? 'active' : '')
                                a(href='account.html') Account
                            li(class=page=='Dashboard' ? 'active' : '')
                                a(href='dashboard.html') Dashboard
                            li(class=page=='Recover' ? 'active' : '')
                                a(href='recover.html') Recover
                if area == "Admin"
                  ul.nav.nav-menu
                      // XXX This must be hidden unless logged in !
                      // XXX Which must be done in Javascript !
                      // CSS Loaded and selected by login ! (client side)
                      // Then hide this based on that?
                      li(class=area=='Admin' ? 'active opened' : '')
                          a(href="#")
                              .nav-menu__ico
                                  i.fa.fa-fw.fa-th-large
                              .nav-menu__text
                                  span Admin
                              .nav-menu__right
                                  i.fa.fa-fw.fa-angle-right.arrow
                          ul.nav.nav-menu__second.collapse(class=area == 'Admin' ? 'in' : '')
                              li(class=page=='Admin' ? 'active' : '')
                                  a(href='admin.html') Admin
                              li(class=page=='Login' ? 'active' : '')
                                  a(href='login.html') Admin
                block sidebar
                if development
                    .sidebar__title Template
                    ul.nav.nav-menu
                        li(class=page=='General' || page == 'Panels' || page == 'Tabs' || page == 'Modals' || page == 'Buttons' ? 'active opened' : '')
                            a(href="#")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-th-large
                                .nav-menu__text
                                    span UI Elements
                                .nav-menu__right
                                    i.fa.fa-fw.fa-angle-right.arrow
                            ul.nav.nav-menu__second.collapse(class=page=='General' || page == 'Panels' || page == 'Tabs' || page == 'Modals' || page == 'Buttons' ? 'in' : '')
                                li(class=page=='General' ? 'active' : '')
                                    a(href='general.html') General
                                li(class=page=='Panels' ? 'active' : '')
                                    a(href='panels.html') Panels
                                li(class=page=='Tabs' ? 'active' : '')
                                    a(href='tabs.html') Tabs
                                li(class=page=='Modals' ? 'active' : '')
                                    a(href='modals.html') Modals
                                li(class=page=='Buttons' ? 'active' : '')
                                    a(href='buttons.html') Buttons
                        li(class=page=='Controls' || page == 'Validation' || page == 'Texteditor' ? 'active opened' : '')
                            a(href="#")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-clone
                                .nav-menu__text
                                    span Forms
                                .nav-menu__right
                                    i.fa.fa-fw.fa-angle-right.arrow
                            ul.nav.nav-menu__second.collapse(class=page=='Controls' || page == 'Validation' || page == 'Texteditor' ? 'in' : '')
                                li(class=page=='Controls' ? 'active' : '')
                                    a(href='controls.html') Controls
                                li(class=page=='Validation' ? 'active' : '')
                                    a(href='validation.html') Validation
                                li(class=page=='Texteditor' ? 'active' : '')
                                    a(href='texteditor.html') Text Editor
                        li(class=page=='Table Static' || page == 'Table Sortable' || page == 'DataTable' ? 'active opened' : '')
                            a(href="#")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-table
                                .nav-menu__text
                                    span Tables
                                .nav-menu__right
                                    i.fa.fa-fw.fa-angle-right.arrow
                            ul.nav.nav-menu__second.collapse(class=page=='Table Static' || page == 'Table Sortable' || page == 'DataTable' ? 'in' : '')
                                li(class=page=='Table Static' ? 'active' : '')
                                    a(href='table_static.html') Static
                                li(class=page=='Table Sortable' ? 'active' : '')
                                    a(href='table_sortable.html') Sortable
                                li(class=page=='DataTable' ? 'active' : '')
                                    a(href='table_data.html') DataTable
                        li(class=page=='Charts' ? 'active' : '')
                            a(href="charts.html")
                                .nav-menu__ico
                                    i.fa.fa-fw.fa-pie-chart
                                .nav-menu__text
                                    span Charts
