li(class=page=='Basic Daily Attendance' ? 'active' : '')
    a(href='usecase_basic_daily_attendance.html') Basic Daily Attendance
li(class=page=='Student Attendance Timelist' ? 'active' : '')
    a(href='usecase_student_attendance_timelist.html') Student Attendance Timelist
li(class=page=='Basic Financial Transactions' ? 'active' : '')
    a(href='usecase_basic_financial_transactions.html') Basic Financial Transactions
li(class=page=='Enrolment' ? 'active' : '')
    a(href='usecase_enrolment.html') Enrolment
li(class=page=='Financial Questionaire' ? 'active' : '')
    a(href='usecase_financial_questionaire.html') Financial Questionaire
li(class=page=='Gradebook' ? 'active' : '')
    a(href='usecase_gradebook.html') Gradebook
li(class=page=='NAPLAN Results & Reporting' ? 'active' : '')
    a(href='usecase_naplan_results_reporting.html') NAPLAN Results & Reporting
li(class=page=='Timetable' ? 'active' : '')
    a(href='usecase_timetable.html') Timetable
li(class=page=='Wellbeing' ? 'active' : '')
    a(href='usecase_wellbeing.html') Wellbeing
