li(class=page=='Basic Daily Attendance' ? 'active' : '')
    a(href='usecase_basic_daily_attendance.html') Basic Daily Attendance
li(class=page=='Basic Financial Transactions' ? 'active' : '')
    a(href='usecase_basic_financial_transactions.html') Basic Financial Transactions
li(class=page=='Enrolment' ? 'active' : '')
    a(href='usecase_enrolment.html') Enrollment
li(class=page=='Gradebook' ? 'active' : '')
    a(href='usecase_gradebook.html') Gradebook
li(class=page=='NAPLAN Registration' ? 'active' : '')
    a(href='usecase_naplan_registration.html') NAPLAN Registration
li(class=page=='NAPLAN Results Reporting' ? 'active' : '')
    a(href='usecase_naplan_results_recording.html') NAPLAN Results Reporting
li(class=page=='Timetable' ? 'active' : '')
    a(href='usecase_timetable.html') Timetable 
